.txg-events__tools {
  background: #1c3750;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .event-tool__selector {
    display: flex;
    align-items: center;
    svg {
      fill: #fff;
    }
    button {
      border: none;
      background: transparent;
      &:focus {
        outline: none;
      }
      &.active {
        cursor: default;
        svg {
          fill: #fff;
        }
        &:hover {
          svg {
            fill: #852729;
          }
        }
      }
      &:hover {
        svg {
          fill: #852729;
        }
      }
    }
    span {
      padding: 0 0.25em;
      color: #fff;
    }
  }
  .event-tool__filter {
    display: flex;
    margin-left: auto;
    flex-basis: 19em;
    align-items: center;
    label {
      flex: 1;
      text-align: right;
      padding-right: 1em;
      color: #fff;
      span {
        display: block;
        font-size: 0.75em;
      }
    }
    .Select {
      flex: 2;
    }
  }
}

.event-tools__selected-filter {
  padding: 0.5em;
}
.txg-events__tools-filter {
  color: #1384da;
}
.cur-filter__remover {
  cursor: pointer;
}
