.txg-events-app {
  padding: 1.5em 0;
  // max-width: 1080px;
  // margin: 0 auto;
}


.txg-events__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.post-hero__bg-cover {
  background: rgba(133, 39, 41, 0.7);
}
